 .container {
      display: flex-start;
      width: 600px;
      height: 600px;
      background-color: rgb(46, 6, 121);
      overflow: hidden;
      overflow-y: auto;
      border: 10px outset rgb(41, 12, 94);
      
    }
    body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../Images/BGS/blueglitter.gif");
        background-repeat: repeat;       
        background-position: center;    
        background-size: 200px;          
        font-family: "Comic Sans MS";
    }
    h1 {
      font-size: 35px;
      color: rgb(56, 20, 20);
      text-align: center;
    }
    .Btxt {
    font-size: 40px;

    }
    .center {
      text-align: center;
    }
    .sidebar {
      width: 150px;
      height: 600px;
      background-color: rgb(35, 4, 92);
      color: rgb(0, 0, 0);
      display: flex;
      flex-direction: column;
        border: 10px outset rgb(41, 12, 94);
      ;
    }
    .header {
       border: 10px outset rgb(41, 12, 94);
        background-color: rgb(58, 26, 117);
        text-align: center;
        color:orange;
        height:160px;
    }
    .footer {
        border: 10px outset orange;
        background-color: black;
        text-align: center;
        color:orange;
        height:50px;
    }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
        h1 {
      font-size: 35px;
      color: rgb(135, 110, 245);
      text-shadow: 2px 2px black;
      text-align: center;
    }
    p1 {
      font-size: 15px;
      color: rgb(135, 110, 245);
      text-shadow: 2px 2px black;
      text-align: center;
    }
    p2 {
      font-size: 20px;
      color: rgb(135, 110, 245);
      text-shadow: 2px 2px black;
      text-align: center;
    }
    h4 {
      font-size: 15px;
      color: rgb(135, 110, 245);
      text-shadow: 2px 2px black;
      text-align: center;
    }
    li {
      font-size: 15px;
      color: rgb(135, 110, 245);
      text-shadow: 2px 2px black;
      
    }
    .bimg{
          display: inline-block;
          margin: 10px;
          border: 10px outset rgb(200, 64, 193);
          display: block;
          margin-left: auto;
          margin-right: auto;

        }
    h2 {
      font-size: 20px;
      color: rgb(159, 141, 240);
      text-shadow: 2px 2px black;
      text-align: center;
    }
    h3 {
      font-size: 17px;
      color: rgb(141, 125, 216);
      text-shadow: 2px 2px black;
      text-align: center;
    }
    /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(41, 12, 94);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(90, 32, 199);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #11bcff;
}
/* Default link color */
a {
  color: rgb(255, 255, 255);
  
}

/* Hover state */
a:hover {
  color: rgb(225, 39, 254);
  text-decoration: underline; 
}
/* Visited link color */
a:visited {
  color: rgb(188, 188, 188);
}

/* Active link color */
a:active {
  color: rgb(255, 0, 93);
}
      #Sidimg{
          display: inline-block;
          margin: 320px;
          display: block;
          align-content: center;
          margin-left: auto;
          margin-right: auto;
      }