 .container {
      display: flex-start;
      width: 600px;
      height: 600px;
      background-color: rgb(177, 3, 148);
      overflow: hidden;
      border: 10px outset rgb(143, 17, 136);
      
    }
    body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url("../Images/BGS/PurpleGliter.gif");
        background-repeat: repeat;       
        background-position: center;    
        background-size: 200px;          
        font-family: "Comic Sans MS";
    }
    h1 {
      font-size: 35px;
      color: rgb(56, 20, 20);
      text-align: center;
    }
    .center {
      text-align: center;
    }
    .sidebar {
      width: 150px;
      height: 600px;
      background-color: rgb(130, 3, 109);
      color: rgb(0, 0, 0);
      display: flex;
      flex-direction: column;
        border: 10px outset rgb(143, 17, 136);
    }
    .header {
       border: 10px outset orange;
        background-color: black;
        text-align: center;
        color:orange;
        height:100px;
    }
    .footer {
        border: 10px outset orange;
        background-color: black;
        text-align: center;
        color:orange;
        height:50px;
    }