    body {
        background-image: url("../Images/NIKOSHRINE/NikoYAPPING.gif");
        background-size: 100px;      
        background-repeat: repeat;       
        background-position: center; 
        font-family: "Comic Sans MS";
    }
    h1 {
        font-size:20px;
        color:white;
    }
    table, th, td {
     text-align: center;
     border: 10px solid purple;
     font-size: 20px;
        color: white;
    }
    th {
    background-color: #04AA6D;
    color: white;
    } 
    tr:hover {background-color: rgb(152, 2, 92);}
    th:hover {background-color: rgb(152, 2, 92);}