 body {   
        background-image: url("Images/NIKOSHRINE/NikoYAPPING.gif"), url("cat-front.png");
        background-size: 100px 100px;
    
    
    }
    h1 {
        font-family:"Comic Sans MS";
        font-size:20px;
        color:white;
    }
    table, th, td {
     text-align: center;
     border: 10px solid purple;
     font-size: 20px;
        font-family: "Comic Sans MS";
        color: white;
    }
    th {
    background-color: #04AA6D;
    color: white;
    } 
    tr:hover {background-color: rgb(152, 2, 92);}
    th:hover {background-color: rgb(152, 2, 92);}